@import "./variables.scss";

// OVERALL
@mixin setFullWidth {
    width: 100%;
    margin: 0 auto;
}
// END OVERALL

// NAVBAR HORIZONTAL
@mixin navLinkBasic($height, $fontSize, $padding) {
    display: block;
    position: relative;
    min-height: $height;
    padding: 0 $padding;
    line-height: $height;
    transition: all 0.3s ease-in-out 0s;
    color: $navFontColor;
    font-size: $fontSize;
}
@mixin navLinkStyle($height, $fontSize, $padding, $color) {
    @include navLinkBasic($height, $fontSize, $padding);
    @include navLinkHover(true, $color);
}
@mixin navBasketStyle($height, $fontSize, $padding, $color) {
    @include navLinkBasic($height, $fontSize, $padding);
    @include navLinkHover(false, $color);
}
@mixin navLinkHover($link, $hoverColor) {
    &:hover {
        color: $hoverColor;
        @if $link == true {
            background-color: $navBackgroundColor;
        }
    }
}
@mixin navActiveClass {
    .active {
        border: 0;
        @content;
        * { color: $navFontColorActive !important; }
    }
    .active-glyph {
        @content;
        * { color: $navFontColorActive !important; }
    }
}
@mixin navUlStyle($width, $widthLast, $underlineColor, $linkHeigth) {
    @include navActiveClass {
        border-bottom: solid 2px $navFontColorActive;
    };
    li {
        width: $width;
        a {
            &:link, &:visited, &:active {
                background-color: $navBackgroundColor;
            }
        }
        @include overlineBlock($underlineColor, $linkHeigth);
        &:last-child {
            border: 0;
            width: $widthLast;
            &:last-child {
                // no overline animations for basket
                @include overlineBlock($transparent,  $linkHeigth);
            }
        }
    }
}
// END NAVBAR

// PANEL DRUGS
@mixin panelDrugHeading($color, $bgColor) {
    @include resetBorder;
    color: $color;
    background-color: transparentize($bgColor, 0);
    border: $divideLineWidth solid $color;
}
@mixin resetBorder {
    border-radius: 0;
    border: 0;
}
// END PANEL DRUGS

// MEDIA QUERIES
@mixin mQ($args...) {
    @if length($args) == 1{
        @media screen and (min-width: nth($args, 1)) {
             @content;
        }
    }
    @else if length($args) {
         @media screen and (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
             @content;
        }
    }
}
