@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./animations.scss";

html, body {
    height: 100%;
    font-family: arial;
}

div.main-content-wrapper, div#content {
    height: 100%;
}

div.nav-with-content-wrapper {
    min-height: 100%;
    margin-bottom: -$mainFooterHeightXS;
    nav.navbar {
        margin: -1px 0;
    }
    @include mQ($smallDevice) {
        margin-bottom: -$mainFooterHeightSmall;
    };
    @include mQ($mediumDevice) {
        margin-bottom: -$mainFooterHeightMedium;
    };
    @include mQ($largeDevice) {
        margin-bottom: -$mainFooterHeightLarge;
    };
}

div.nav-with-content-wrapper:after {
    content: "";
    display: block;
}

footer.main-footer, div.nav-with-content-wrapper:after {
    height: $mainFooterHeightXS - 11px;
    @include mQ($smallDevice) {
        height: $mainFooterHeightSmall;
    };
    @include mQ($mediumDevice) {
        height: $mainFooterHeightMedium;
    };
    @include mQ($largeDevice) {
        height: $mainFooterHeightLarge;
    };
}

footer.main-footer {
    border-top: 1px solid $divideLineColor;
}

div.content-main-footer {
    max-width: $maxMainContentWidth;
    margin: 0 auto;
}
