// MAIN
$mainBackgroundColor: #E2E3DF;
$transparent: rgba(0, 0, 0, 0);

// NAVBAR
$navCountLinks: 5;
$navBackgroundColor: #fff;
$navFontColor: #2E3233;
$navFontColorActive: #7BB480;
// nav height
  $navHeightXS: 50px;
  $navHeightSmall: 65px;
  $navHeightMedium: 70px;
  $navHeightLarge: 80px;
// padding between links
  $navPaddingSmall: 32px;
  $navPaddingMedium: 32px;
  $navPaddingLarge: 48px;
// header font-size
  $navFontSizeHeaderXS: 18px;
  $navFontSizeHeaderMedium: 18px;
  $navFontSizeHeaderLarge: 20px;
// nav links font-size
  $navFontSizeLinkSmall: 14px;
  $navFontSizeLinkMedium: 14px;
  $navFontSizeLinkLarge: 16px;
// shopping cart
  $navSizeShoppingCart: 1.9em;
  $navSizeShoppingCartHover: 1.4;
// margin left header
  $navHeaderMarginLeft: 18px;
// nav link width
  $navWidthLinkSmallLast: (100% / $navCountLinks) - 10%;
  $navWidthLinkSmall: (100% - $navWidthLinkSmallLast) / ($navCountLinks - 1);
  $navWidthLinkMedium: 130px;
  $navWidthLinkMediumLast: $navWidthLinkMedium - 40px;
  $navWidthLinkLarge: 180px;
  $navWidthLinkLargeLast: $navWidthLinkLarge - 60px;
// END NAVBAR

// MEDIA QUERY BREAKPOINTS
  $smallDevice: 768px;
  $mediumDevice: 992px;
  $largeDevice: 1200px;
// END MQ
