// MAIN
$mainBackgroundColor: #fff;
$transparent: rgba(0, 0, 0, 0);
$divideLineWidth: 1px;
$divideLineColor: #BBBBBB;
$saleTabColor: #B22909;
$categoriesTabColor: #A740FF;
$searchTabColor: #B2A53D;
$basketTabColor: #4514CC;
$maxMainContentWidth: 1040px;

// BASKET
$h2FontSize: 22px;

// BUTTON CONTROL
$buttonControlMarginBottom: 24px;
$buttonControlMarginLeft: 16px;
$buttonControlBorderRadius: 16px;
// BUTTON GLYPHS
$nextPrevFontSize: 16px;
$incDecFontSize: 16px;

// NAVBAR
$navCountLinks: 5;
$navBackgroundColor: #fff;
$navFontColor: #2E3233;
$navFontColorActive: #7BB480;
// nav height
  $navHeightXS: 50px;
  $navHeightSmall: 65px;
  $navHeightMedium: 70px;
  $navHeightLarge: 80px;
// padding between links
  $navPaddingSmall: 32px;
  $navPaddingMedium: 32px;
  $navPaddingLarge: 48px;
// header font-size
  $navFontSizeHeaderXS: 18px;
  $navFontSizeHeaderMedium: 18px;
  $navFontSizeHeaderLarge: 20px;
// nav links font-size
  $navFontSizeLinkSmall: 14px;
  $navFontSizeLinkMedium: 14px;
  $navFontSizeLinkLarge: 16px;
// shopping cart
  $navSizeShoppingCart: 1.9em;
  $navSizeShoppingCartHover: 1.4;
// margin left header
  $navHeaderMarginLeft: 18px;
// nav link width
  $navWidthLinkSmallLast: (100% / $navCountLinks) - 10%;
  $navWidthLinkSmall: (100% - $navWidthLinkSmallLast) / ($navCountLinks - 1);
  $navWidthLinkMedium: 130px;
  $navWidthLinkMediumLast: $navWidthLinkMedium - 40px;
  $navWidthLinkLarge: 180px;
  $navWidthLinkLargeLast: $navWidthLinkLarge - 60px;
// SIDE NAV BAR
  $sideNavHeightSmall: 25px;
  $sideNavHeightMedium: 28px;
  $sideNavHeightLarge: 33px;
// font size sidebar nav
  $sideNavFontSizeLinkSmall: 12px;
  $sideNavFontSizeLinkMedium: 13px;
  $sideNavFontSizeLinkLarge: 15px;
// END NAVBAR

// FOOTER
$mainFooterHeight: 50px;
$mainFooterFontSize: 14px;
$mainFooterPaddingTop: 14px;
$mainFooterPaddingRightLeft: 16px;
// END FOOTER

// MEDIA QUERY BREAKPOINTS
  $smallDevice: 768px;
  $mediumDevice: 992px;
  $largeDevice: 1200px;
// END MQ
