$mainBackgroundColor: #E2E3DF;

// NAVBAR
$navHeight: 80px;
$navFontSizeHeader: 20px;
$navFontSizeLink: 16px;
$navSizeShoppingCart: 1.9em;
$navSizeShoppingCartHover: 1.4;
$navBackgroundColor: #fff;
$navFontColor: #2E3233;
$navFontColorActive: #7BB480;
