@import "../variables.scss";
@import "../mixins.scss";


button.sale-tab {
    @include buttonControlStyle($saleTabColor, $buttonControlBorderRadius);
}
button.basket-tab {
    @include buttonControlStyle($basketTabColor, $buttonControlBorderRadius);
}
button.categories-tab {
    @include buttonControlStyle($categoriesTabColor, $buttonControlBorderRadius);
}
button.search-tab {
    @include buttonControlStyle($searchTabColor, $buttonControlBorderRadius);
}
button.show-more {
    width: 70%;
    margin-bottom: 0;
    box-sizing: border-box;
}
