@import "../variables.scss";

// div.panel-body {
//
// }
div.panel-group {
    margin: 0;
}
// drugs overall
div.drug-style {
    margin: 8px 0;
}
// drugs in category tab
// div.sale-drugs {
//
// }
div.show-more-container {
    display: flex;
    justify-content: center;
}
