@import "../variables.scss";
@import "../mixins.scss";


div.drug-quantity-container {
    margin-bottom: $buttonControlMarginBottom;
    margin-left: $buttonControlMarginLeft;
    margin-right: -12px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.quantity-of-drug {
    text-align: center;
}
div.quantity-decrement, div.quantity-increment {
    display: flex;
    justify-content: center;
    align-items: center;
}
span.glyphicon-minus-sign, span.glyphicon-plus-sign {
    cursor: pointer;
    &::before {
        font-size: 16px;
    }
}
span.glyphicon-minus-sign {
    &:hover {
        color: $saleTabColor;
    }
}
span.glyphicon-plus-sign {
    &:hover {
        color: $navFontColorActive;
    }
}
