@import "../variables.scss";


div.panel-group {
    margin: 0;

    div.col-xs-1 {
        padding: 0; 
    }
}
div.drug-style {
    margin: 8px 0;
}
div.show-more-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
div.row-as-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.remove-padding {
    padding-left: 0;
    padding-right: 0;
}
