@import "../variables.scss";
@import "../mixins.scss";


// quantity element
div.drug-quantity-container {
    @include centeredFlexbox;
    margin: 12px -12px $buttonControlMarginBottom $buttonControlMarginLeft;
    height: 32px;
}
div.quantity-of-drug {
    text-align: center;
}
div.quantity-decrement, div.quantity-increment {
    @include centeredFlexbox;
}

span.glyphicon-minus-sign {
    @include glyphiconControlStyle($incDecFontSize, $saleTabColor);
}
span.glyphicon-plus-sign {
    @include glyphiconControlStyle($incDecFontSize, $navFontColorActive);
}
// next prev element
div.next-prev-button {
    @include centeredFlexbox;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border: $divideLineWidth solid $divideLineColor;
    border-radius: 50%;
    &:hover {
        border: $divideLineWidth solid $saleTabColor;
        color: $saleTabColor;
    }
}
span.glyphicon-menu-right {
    @include glyphiconControlStyle($nextPrevFontSize, $saleTabColor);
}
span.glyphicon-menu-left {
    @include glyphiconControlStyle($nextPrevFontSize, $saleTabColor);
}
