@import "../variables.scss";
@import "../mixins.scss";
@import "../animations.scss";

nav.navbar {
    border-radius: 0;
    background-color: $navBackgroundColor;
    // HEADER, TOGGLE BTN
    div.navbar-header {
        a {
            box-sizing: border-box;
            margin-left: $navHeaderMarginLeft;
            @include navBucketStyle($navHeightXS, $navFontSizeHeaderXS, 0);
            @include mQ($mediumDevice) {
                 @include navBucketStyle($navHeightMedium, $navFontSizeHeaderMedium, $navPaddingMedium);
            };
            @include mQ($largeDevice) {
                 @include navBucketStyle($navHeightLarge, $navFontSizeHeaderLarge, $navPaddingLarge);
            };
        }

        span.icon-bar {
            background-color: $navFontColorActive;
        }
    }
    // LINKS
    ul.navbar-nav {
        a {
            color: $navFontColor;
            @include navLinkHover(true);
        }
        @include navActiveClass {
            border: solid 2px $navFontColorActive;
        };
        @include mQ($smallDevice, $mediumDevice - 1) {
            width: 85%;
            li {
                width: 23.5%;
            }
            @include navActiveClass {
                border-bottom: solid 2px $navFontColorActive;
            };
        };
        @include mQ($mediumDevice) {
            float: right;
            li:last-child {
                margin-right: 30px;
            }
            @include navActiveClass {
                border-bottom: solid 2px $navFontColorActive;
            };
        };
        @include mQ($largeDevice) {};
    }

    ul.navbar-nav > li > a {
        @include mQ($smallDevice) {
             @include navLinkStyle($navHeightSmall, $navFontSizeLinkSmall, $navPaddingSmall);
            @include underlineBlock($navFontColorActive);
        };
        @include mQ($mediumDevice) {
             @include navLinkStyle($navHeightMedium, $navFontSizeLinkMedium, $navPaddingMedium);
        };
        @include mQ($largeDevice) {
             @include navLinkStyle($navHeightLarge, $navFontSizeLinkLarge, $navPaddingLarge);
        };
    }
    // SMALL-MEDIUM DEV
    @include mQ($smallDevice, $mediumDevice - 1) {
        div.navbar-collapse {
            text-align: center;
            margin: 0 auto;
        }
    };
}
