@import "../variables.scss";
@import "../mixins.scss";
@import "../animations.scss";

.container-fluid > .navbar-header { margin: -1px; }
.nav-with-content-wrapper > .container-fluid { margin-top: 24px; }
.row { margin: 0; }
nav.navbar {
    // margin: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: $divideLineWidth solid $divideLineColor;
    margin-bottom: 15px;

    // div.navbar-collapse {
    //     @include mQ(0, $smallDevice) {
    //         margin-left: -200px;
    //     };
    // }

    // HEADER, TOGGLE BTN
    div.navbar-header {
        box-sizing: border-box;
        a {
            margin-left: $navHeaderMarginLeft;
            @include navBasketStyle(
                $navHeightXS,
                $navFontSizeHeaderXS,
                0,
                $navFontColorActive
            );
            @include mQ($mediumDevice) {
                 @include navBasketStyle(
                     $navHeightMedium,
                     $navFontSizeHeaderMedium,
                     $navPaddingMedium,
                     $navFontColorActive
                 );
            };
            @include mQ($largeDevice) {
                 @include navBasketStyle(
                     $navHeightLarge,
                     $navFontSizeHeaderLarge,
                     $navPaddingLarge,
                     $navFontColorActive
                 );
            };
        }
        span.icon-bar {
            background-color: $navFontColorActive;
        }
    }
    // LINKS
    ul.navbar-nav {
        box-sizing: border-box !important;
        text-align: center;
        @include navActiveClass {
            border: solid 2px $navFontColorActive;
        };
        @include mQ($smallDevice, $mediumDevice - 1) {
            width: 100%;
            @include navUlStyle(
                $navWidthLinkSmall,
                $navWidthLinkSmallLast,
                $navFontColorActive,
                $navHeightSmall
            );
        };
        @include mQ($mediumDevice) {
            float: right;
            @include navUlStyle(
                $navWidthLinkMedium,
                $navWidthLinkMediumLast,
                $navFontColorActive,
                $navHeightMedium
            );
        };
        @include mQ($largeDevice) {
            @include navUlStyle(
                $navWidthLinkLarge,
                $navWidthLinkLargeLast,
                $navFontColorActive,
                $navHeightLarge
            );
        };
    }
    // NAV HORIZONTAL
    ul.navbar-nav > li > a {
        color: $navFontColor;
        // text-align: left;
        @include navLinkHover(
            true,
            $navFontColorActive
        );
        @include mQ($smallDevice) {
            @include navLinkStyle(
                $navHeightSmall,
                $navFontSizeLinkSmall,
                0,
                $navFontColorActive
            );
        };
        @include mQ($mediumDevice) {
             @include navLinkStyle(
                 $navHeightMedium,
                 $navFontSizeLinkMedium,
                 $navPaddingMedium,
                 $navFontColorActive
            );
        };
        @include mQ($largeDevice) {
             @include navLinkStyle(
                 $navHeightLarge,
                 $navFontSizeLinkLarge,
                 $navPaddingLarge,
                 $navFontColorActive
            );
        };
    }
    // NAV CONTAINER SMALL DEV ++
    @include mQ($smallDevice) {
        div.navbar-collapse, div.container-fuild {
            text-align: center;
            margin: 0 auto;
            padding: 0;
        }
    };

    // SIDE CATEGORIES NAV
    ul.sidebar-nav {
        box-sizing: border-box !important;
        text-align: left;
        // padding-left: 10px;
        @include mQ($smallDevice) {
            padding: 0 8px;
            margin-right: 0;
        };
        @include mQ($largeDevice) {
            padding-left: 0 17px;
            margin-right: 0;
        };
    }
    // LINKS SIDE CATEGORIES NAV
    ul.sidebar-nav > li > a {
        color: $navFontColor;
        text-decoration: none;
        width: 100%;
        @include navLinkHover(true, $categoriesTabColor);
        @include navLinkStyle(
            $sideNavHeightMedium,
            $sideNavFontSizeLinkMedium,
            10px,
            $categoriesTabColor
        );
        @include mQ($smallDevice) {
            @include navLinkStyle(
                $sideNavHeightSmall,
                $sideNavFontSizeLinkSmall,
                0,
                $categoriesTabColor
            );
        };
        @include mQ($mediumDevice) {
            @include navLinkStyle(
                $sideNavHeightMedium,
                $sideNavFontSizeLinkMedium,
                0,
                $categoriesTabColor
            );
        };
        @include mQ($largeDevice) {
            @include navLinkStyle(
                $sideNavHeightLarge,
                $sideNavFontSizeLinkLarge,
                0,
                $categoriesTabColor
            );
        };
    }
}
