@import "../variables.scss";
@import "../mixins.scss";
@import "../animations.scss";

nav.navbar {
    border-radius: 0;
    background-color: $navBackgroundColor;
    border-bottom: 1px solid #eee;

    // HEADER, TOGGLE BTN
    div.navbar-header {
        a {
            margin-left: $navHeaderMarginLeft;
            @include navBasketStyle(
                $navHeightXS,
                $navFontSizeHeaderXS,
                0,
                $navFontColorActive
            );
            @include mQ($mediumDevice) {
                 @include navBasketStyle(
                     $navHeightMedium,
                     $navFontSizeHeaderMedium,
                     $navPaddingMedium,
                     $navFontColorActive
                 );
            };
            @include mQ($largeDevice) {
                 @include navBasketStyle(
                     $navHeightLarge,
                     $navFontSizeHeaderLarge,
                     $navPaddingLarge,
                     $navFontColorActive
                 );
            };
        }
        span.icon-bar {
            background-color: $navFontColorActive;
        }
    }
    // LINKS
    ul.navbar-nav {
        box-sizing: border-box !important;
        text-align: center;
        @include navActiveClass {
            border: solid 2px $navFontColorActive;
        };
        @include mQ($smallDevice, $mediumDevice - 1) {
            width: 100%;
            @include navUlStyle(
                $navWidthLinkSmall,
                $navWidthLinkSmallLast,
                $navFontColorActive
            );
        };
        @include mQ($mediumDevice) {
            float: right;
            @include navUlStyle(
                $navWidthLinkMedium,
                $navWidthLinkMediumLast,
                $navFontColorActive
            );
        };
        @include mQ($largeDevice) {
            @include navUlStyle(
                $navWidthLinkLarge,
                $navWidthLinkLargeLast,
                $navFontColorActive
            );
        };
    }
    // NAV HORIZONTAL
    ul.navbar-nav > li > a {
        color: $navFontColor;
        @include navLinkHover(
            true,
            $navFontColorActive
        );
        @include mQ($smallDevice) {
            @include navLinkStyle(
                $navHeightSmall,
                $navFontSizeLinkSmall,
                0,
                $navFontColorActive
            );
        };
        @include mQ($mediumDevice) {
             @include navLinkStyle(
                 $navHeightMedium,
                 $navFontSizeLinkMedium,
                 $navPaddingMedium,
                 $navFontColorActive
            );
        };
        @include mQ($largeDevice) {
             @include navLinkStyle(
                 $navHeightLarge,
                 $navFontSizeLinkLarge,
                 $navPaddingLarge,
                 $navFontColorActive
            );
        };
    }
    // NAV CONTAINER SMALL DEV ++
    @include mQ($smallDevice) {
        div.navbar-collapse, div.container-fuild {
            text-align: center;
            margin: 0 auto;
            padding: 0;
        }
    };

    // SIDE CATEGORIES NAV
    ul.sidebar-nav {
        box-sizing: border-box !important;
        text-align: left;
        // padding-left: 10px;
        @include mQ($smallDevice) {
            padding-left: 15px;
        };
        @include mQ($largeDevice) {
            padding-left: 34px;
        };
    }
    // LINKS SIDE CATEGORIES NAV
    ul.sidebar-nav > li > a {
        color: $navFontColor;
        text-decoration: none;
        width: 100%;
        @include navLinkHover(true, $sideNavFontColorActive);
        @include navLinkStyle(
            $sideNavHeightMedium,
            $sideNavFontSizeLinkMedium,
            10px,
            $sideNavFontColorActive
        );
        @include mQ($smallDevice) {
            @include navLinkStyle(
                $sideNavHeightSmall,
                $sideNavFontSizeLinkSmall,
                0,
                $sideNavFontColorActive
            );
        };
        @include mQ($mediumDevice) {
             @include navLinkStyle(
                 $sideNavHeightMedium,
                 $sideNavFontSizeLinkMedium,
                 0,
                 $sideNavFontColorActive
             );
        };
        @include mQ($largeDevice) {
             @include navLinkStyle(
                 $sideNavHeightLarge,
                 $sideNavFontSizeLinkLarge,
                 0,
                 $sideNavFontColorActive
             );
        };
    }
}
