@import "../variables.scss";

@mixin panelDrugHeading($color, $bgColor) {
    color: $color;
    background-color: transparentize($bgColor, 0);
    border-radius: 0;
    border: $divideLineWidth solid $color;
}

div.panel {
    border-radius: 0;
    border: 0;
    border-left: $divideLineWidth solid $divideLineColor;

    div.sale-tab {
        @include panelDrugHeading(
            $saleTabColor,
            $mainBackgroundColor
        );
    }

    div.categories-tab {
        margin-left: -$divideLineWidth;
        @include panelDrugHeading(
            $categoriesTabColor,
            $mainBackgroundColor
        );
    }

    div.basket-tab {
        @include panelDrugHeading(
            $basketTabColor,
            $mainBackgroundColor
        );
    }


}
