@import "../variables.scss";
@import "../mixins.scss";


div.search-tab-heading {
    @include centeredFlexbox;
    border: 1px solid $searchTabColor;
    height: 68px;
    margin-bottom: 23px;
    p.search-heading {
        padding-top: 9px;
        color: $searchTabColor;
    }
}

div.underscore-selected-drug {
    height: 0;
    width: $underlineContentPctWidth;
    margin-top: 14px;
    border-bottom: 1px solid $searchTabColor;
}
