@import "../variables.scss";
@import "../mixins.scss";


div.search-tab-heading {
    @include centeredFlexbox;
    border: $divideLineWidth solid $searchTabColor;
    height: 68px;
    margin-bottom: 23px;

    p.search-heading {
        padding-top: 9px;
        color: $searchTabColor;
    }
}
