@import "../variables.scss";
@import "../mixins.scss";
@import "../animations.scss";

span.shopping-cart {
  @include growElement($navSizeShoppingCartHover);
  display: none;

  @include mQ($smallDevice) {
    @include navBucketStyle($navHeightSmall, $navSizeShoppingCart, $navPaddingSmall);
  };
  @include mQ($mediumDevice) {
    margin: 0 auto;
    @include navBucketStyle($navHeightMedium, $navSizeShoppingCart, 0);
  };
  @include mQ($largeDevice) {
    @include navBucketStyle($navHeightLarge, $navSizeShoppingCart, 0);
  };
}

span#bucket {
  display: inline;
  @include mQ($smallDevice) {
    display: none;
  };
}
