@import "../mixins.scss";
@import "../variables.scss";


div.container-fluid {
    @include setFullWidth;
    padding: 0 8px;
}

div.main-content {
    max-width: $maxMainContentWidth;
}

div.empty-basket-container {
    text-align: center;

    h2 {
        text-align: center;
        font-size: $h2FontSize;
    }
}

div.panel-items-in-categories {
    padding: 0;
    @include mQ($smallDevice){
        padding-left: 16px;
    };
}

div.sidenav-with-categories {
    padding: 0;
}
